#Universal Media Stack Settings
TZ=America/New_York
TV_ROOT=/mnt/tv
MOVIES_ROOT=/mnt/movies
PUID=1000
PGID=1000

#Jellyfin
JELLYFIN_PUBLISHED_SERVER_URL=https://[EXTERNALURL].com

#Cloudflare
CLOUDFLARED_TOKEN=replace-with-production-cloudflare-tunnel-token

#Sonarr
MEDIA_CONFIG_ROOT=/srv/media

#gluetun
VPN_SP=protonvpn
OPENVPN_USER=
OPENVPN_PASSWORD=

#Polly
POLLY_ROOT=/srv/polly
POLLY_POLL_SECONDS=10
TRANSMISSION_RPC_USERNAME=
TRANSMISSION_RPC_PASSWORD=
TRANSMISSION_CONFIG_ROOT=/srv/transmission-config
