# Gluetun VPN Configuration
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=openvpn
OPENVPN_USER=
OPENVPN_PASSWORD=

# qBittorrent API Credentials (used by watchdog)
QB_USERNAME=
QB_PASSWORD=

# VPN Server Selection
SERVER_COUNTRIES=United States

# Firewall Settings
FIREWALL=on
FIREWALL_INPUT_PORTS=8080,6881
