#Universal Media Stack Settings
TZ=America/New_York
TV_ROOT=/mnt/tv
MOVIES_ROOT=/mnt/movies

#Jellyfin
JELLYFIN_PUBLISHED_SERVER_URL=https://staging.[EXTERNALURL].com

#Cloudflare
CLOUDFLARED_TOKEN=replace-with-staging-cloudflare-tunnel-token

#Sonarr
PUID=1000
PGID=1000
MEDIA_CONFIG_ROOT=/srv/media