#Jellyfin/Cloudflare

TZ=America/New_York
JELLYFIN_PUBLISHED_SERVER_URL=https://staging.[EXTERNALURL]com
CLOUDFLARED_TOKEN=replace-with-staging-cloudflare-tunnel-token

#Sonarr
PUID=1000
PGID=1000
MEDIA_CONFIG_ROOT=/srv/media
TV_ROOT=/mnt/tv